.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Style for the form text */
.text-muted {
  text-align: center;
}

/* Style for the form button */
/* .btn {
  width:50%;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: #50fa7b 0.3s ease-in-out;
} */

.btn-primary {
  width:50%;
  background-color: #50fa7b !important;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  margin-top: 1rem;
  border: #50fa7b;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
  border: #282a36;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn-primary:active {
  border: #282a36;
  background-color: rgb(64, 200, 98) !important;
  transform: translateY(2px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}