h2 {
  text-align: center;
}

.form-container {
  background-color: #44475a;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.form-control {
  border-color: #6272a4;
  width: 95%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #44475a;
  background-color: #282a36;
  border-radius: 3px;
  color: #f8f8f2;
  margin-bottom: 1rem;
}

.form-control:focus {
  background-color: #44475a;
  border-color: #50fa7b;
  color: #f8f8f2;
}

.form-label {
  color: #f8f8f2;
}
